/* fonts import */
@import url("../fonts/octin_sports_rg.ttf");

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

:root {
  --blue-color: #0070cc;
  --orange-color: #ffa600;
  --white-color: #ffffff;
}

/* DropDown Style - Start */
.dropdown-menu {
  position: absolute;
  left: -92px;
}

.navbar-nav .dropdown-menu {
  padding: 10px 0;
  /* margin-right: 200px; */
  margin-right: auto!important;
  font-size: 15px;
  width: 186% !important;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 800px) {
  .navbar-nav .dropdown-menu {
    padding: 0 0;
    /* margin-left: 20px; */
    margin: auto;

    font-size: 15px;
    width: 80% !important;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (max-width: 575px) {
  .navbar-nav .dropdown-menu {
    padding: 0 0;
    /* margin-left: 10px; */
    margin: auto;
    font-size: 15px;
    width: 80% !important;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (max-width: 320px) {
  .navbar-nav .dropdown-menu {
    padding: 0 0;
    margin-left: 10px;
    font-size: 15px;
    width: 60% !important;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  }
}

.fa-primary {
  color: var(--orange-color);
}
.fa-blue {
  color: var(--orange-color);
}

.navbar-nav .dropdown-menu>li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.navbar-nav .dropdown-menu>li:hover>a,
.navbar-nav .dropdown-menu>li.active>a {
  color: #fecc18;
  background-color: rgba(0, 0, 0, 0.15);
}

.navbar-nav .dropdown-menu .dropdown-item {
  line-height: 1;
  padding: 15px 25px;
}

/* DropDown Style - End */

.menu-active {
  font-weight: bold !important;
  border-bottom: 2px solid var(--orange-color) !important;
}

.button-primary {
  background-color: #fecc18;
  z-index: 1;
  transition: 1s;
  cursor: pointer;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.7s cubic-bezier(0.25, 1, 0.5, 1);
}

.button-primary:before {
  top: 0;
  width: 0;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: -1;
  content: "";
  position: absolute;
  transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.button-primary:hover {
  color: #ffffff;
  background-color: #3d3e3e;
  color: #fff;
  font-weight: 600;
}

.button-primary:hover:before {
  left: 0;
  width: 100%;
  right: auto;
  background-color: #000000;
}

.button {
  text-decoration: none;
  z-index: 1;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 0.8;
  overflow: hidden;
  padding: 22px 30px;
  position: relative;
  border-radius: 50px;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.bg-blue {
  background-color: var(--blue-color);
}

.bg-orange {
  background-color: var(--orange-color);
}

.button:before {
  top: 0;
  width: 0;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: -1;
  content: "";
  position: absolute;
  transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.button:hover {
  text-decoration: none;
  color: #ffffff;
}

.button:hover:before {
  left: 0;
  width: 100%;
  right: auto;
  background-color: var(--orange-color);
}

.bordered {
  border: 1px solid #000000;
}

.Logo-style {
  width: 250px;
}

.Icon-style {
  margin-top: 10px;
  width: 170px;
  height: 80px;
}

/* using for footer */
.Logo-small-style {
  width: 200px;
}

.Icon-small-style {
  height: 70px;
  width: 70px;
}

.card-text {
  height: 70px;
  overflow: hidden;
}
.card{
  height: 290px;
}
.btn-customized {
  padding: 7px !important;
  background-color: var(--orange-color) !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  color: white !important;
}

.constumized-padding {
  padding: 200px 10px !important;
}

.who-we-are-image-section {
  background-image: url(../Images/medical_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-us-img {
  background-image: url(../Images/unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.div-padding {
  width: 100%;
  padding: 50px 0px;
}

.f-18-n {
  font-weight: 500;
  font-size: 18px;
}

.f-18-b {
  font-weight: 600;
  font-size: 19px;
}

.anchor-tag a {
  text-decoration: none;
  font-weight: 600;
  color: var(--orange-color);
}

.div-heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.15;
  position: relative;
  margin-bottom: 70px;
  padding-bottom: 25px;
  color: var(--orange-color);
}

.justify-content {
  text-justify: justify;
}

.row NavLink {
  text-decoration: none;
}

/* .div-heading::after {
  left: -46px;
  bottom: 34px;
  height: 6px;
  width: 60px;
  content: url("../Images/line-04.png");
  transform: scale(.2);
  position: absolute;
  /* background: url("../Images/line-04.png") no-repeat 0 0; */
}

.div-heading.text-center:after {
  left: calc(50% - 30px);
}

*/ .purple-bg {
  background-color: #f8f8f7;
  padding: 50px;
}

.white-bg {
  background-color: #ffff;
  padding: 50px;
}

.lightblue-bg {
  background-color: #93caf7;
  padding: 50px 10px;
}

.anchor-tag i {
  padding: 2px;
  font-size: 15px;
}

.upper-banner {
  background: var(--blue-color);
  height: 40px;
}

.timing-text {
  color: #ffffff;
  font-weight: 500;
}

.p-background {
  background-color: var(--blue-color);
  padding: 100px 20px !important;
}

/* FAQS Start */
.collapsible {
  background-color: var(--blue-color);
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  transition: max-height 0.4s ease-out;
  outline: none;
}
.collapsible i{
  float: right;
}

.fontbolder {
  font-weight: 600;
}

.content {
  padding: 7px 18px !important;
  background-color: white;
  transition: max-height 0.4s ease-out;
  overflow: hidden;

}

.primary-color {
  color: var(--orange-color);
}

/* FAQs End  */

/* this is for team component */
.Teamcard {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2) !important;
  transition: 0.3s;
  padding: 30px 30px;
  background-color: #fff;
  cursor: pointer;
}

.Teamcard:hover {
  height: 400px;
  background-color: #eaeaea;
}

.imgcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-70px);
  z-index: 99;
}

.imgcontainer img {
  width: 100%;
  height: 240px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  z-index: 99;
  transition: 0.9s;
}

.teamcontaent {
  padding: 10px 20px;
  text-align: center;
  transform: translateY(-400px);
  opacity: 0;
  transition: 0.6s;
}

.teamcontaent h2 {
  color: var(--blue-color);
}

.Teamcard:hover .teamcontaent {
  opacity: 1;
  transform: translateY(90px);
}

.Teamcard:hover .imgcontainer img {
  border-radius: 50%;
}

/* team css end */
/* this css is for our server container */
.candidate-list,
.company-list {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.candidate-list .name:hover,
.company-list .name:hover {
  color: #2f55d4 !important;
}

.candidate-list:hover,
.company-list:hover {
  -webkit-box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2) !important;
  box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2) !important;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.avatar.avatar-ex-sm {
  max-height: 25px;
}

.avatar.avatar-md-sm {
  height: 45px;
  width: 45px;
}

.avatar.avatar-small {
  height: 65px;
  width: 65px;
}

.avatar.avatar-md-md {
  height: 80px;
  width: 80px;
}

.avatar.avatar-medium {
  height: 110px;
  width: 110px;
}

.avatar.avatar-large {
  height: 150px;
  width: 150px;
}

.avatar.avatar-ex-large {
  height: 180px;
  width: 180px;
}

.Card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  padding: 0 20px;
}

/* services css is end */

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.long_section {
  padding-left: 15px;
  padding-right: 15px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

/*header section*/
.hero_area {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
}

.header_section {
  background-color: #ffffff;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  color: #272727;
  font-weight: 600;
  text-align: start;
  text-transform: uppercase;
}

.custom_nav-container .navbar-nav .nav-item .nav-link:hover {
  color: var(--blue-color);
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #272727;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: #000000;
  border-radius: 15px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote_btn-container a {
  color: #151515;
  margin-right: 25px;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-right: 5px;
}

/*end header section*/

/* Specialities section */
.Speical-card {
  padding: 70px 10px;
  width: 100%;
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid var(--blue-color);
  display: flex;
  overflow: hidden !important;
  justify-content: center;
  align-items: center;
}

.Speical-card:hover .special-card-body {
  opacity: 1;
  right: 0;
}

.special-img {
  align-items: center;
  object-fit: cover;
}

.special-card-body {
  width: 100%;
  border-radius: 20px;
  height: 100%;
  opacity: 0;
  top: 0;
  right: -100%;
  position: absolute;
  background-color: #0070cccc;
  backdrop-filter: blur(10px);
  color: white;
  padding: 20px;
  transition: 1s;
}

.special-card-title {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.special-card-sub-title {
  font-size: 15px;
  margin: 15px 0;
  overflow: hidden;
  font-weight: 400;
  text-align: center;
}

.btn-for-card {
  text-decoration: none;
  padding: 10px 35px !important;
  background-color: var(--orange-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid var(--orange-color);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  margin: auto;
}

/*end Specialities section*/



/* footer section */
.theme-2 {
  margin-top: 30px;
  padding-top: 19px;
  background-color: whitesmoke;
}
.theme-3 {
  margin-top: 30px;
  padding-top: 19px;
  background-image: url('../Images/gray-bg.jpg');
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-brand {
  margin-bottom: 25px;
}

.social-nav {
  display: flex;
  list-style: none;
}

.social-nav-title {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  margin-right: 10px !important;
}

.social-nav a {
  color: var(--orange-color);
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
  transition: all 0.1s;
  display: inline-block;
}

.copyright-div {
  background-color: var(--blue-color);
  color: #fff;
}

.w-150 {
  width: 100px;
}


.social-nav a.facebook:hover {
  color: #3B5998;
}

.social-nav a.twitter:hover {
  color: #1DA1F2;
}

.social-nav a.instagram:hover {
  color: #c32aa3;
}

.social-nav a.google-p:hover {
  color: #db4439;
}

.social-nav a.linkedin:hover {
  color: #007bb6;
}

.social-nav a.pinterest:hover {
  color: #bd081c;
}

/*end footer section*/


/* slider section */
.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 600px;
  background-image: url(../Images/Team/CarouselImg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section #customCarousel {
  width: 100%;
  z-index: 3;
}

.slider_section .detail-box {
  color: #000000;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

.slider_section .detail-box p {
  margin: 25px 0;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
  text-decoration: none;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--orange-color);
  color: #ffffff;
  border-radius: 0;
  border: 1px solid var(--orange-color);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: transparent;
  transform: scale(1.1);
  color: #f89646;
}

.btn2 {
  display: inline-block;
  text-decoration: none;
  padding: 10px 35px !important;
  background-color: var(--orange-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid var(--orange-color);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn2:hover {
  text-decoration: none;
  color: #ffff;
  transform: scale(1.1);
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 45px;
}

.slider_section .carousel-indicators li {
  background-color: #6bb7be;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 17px;
  height: 17px;
  background-color: var(--orange-color);
}

.furniture_section .box {
  margin-top: 45px;
  background-color: #f7fafa;
  padding: 25px;
  border-radius: 5px;
}

.furniture_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 275px;
  padding: 25px;
}

.furniture_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
}

.furniture_section .box .detail-box {
  margin-top: 15px;
}

.furniture_section .box .detail-box h5 {
  text-transform: uppercase;
  font-size: 18px;
}

.furniture_section .box .detail-box .price_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.furniture_section .box .detail-box .price_box .price_heading {
  margin-bottom: 0;
}

.furniture_section .box .detail-box .price_box .price_heading span {
  color: #6bb7be;
}

.furniture_section .box .detail-box .price_box a {
  color: #6bb7be;
  text-transform: uppercase;
  font-size: 15px;
}

.about_section {
  background-color: #f9fafa;
}

.about_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin-top: 10px;
  margin-bottom: 35px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #6bb7be;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #6bb7be;
}

.blog_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.blog_section .box {
  margin-top: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .box .detail-box {
  padding: 25px;
}

.blog_section .box .detail-box h5 {
  font-weight: bold;
}

.blog_section .box .detail-box p {
  font-size: 15px;
  color: #444;
}

.blog_section .box .detail-box a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #6bb7be;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.blog_section .box .detail-box a:hover {
  background-color: transparent;
  color: #6bb7be;
}

.client_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 45px;
  padding: 35px 25px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.client_section .box .img-box {
  border-radius: 100%;
  border: 10px solid #6bb7be;
  margin-right: 25px;
  min-width: 175px;
  max-width: 175px;
  overflow: hidden;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.client_section .box .detail-box .name {
  text-align: center;
}

.client_section .box .detail-box .name img {
  width: 25px;
  margin-bottom: 5px;
}

.client_section .box .detail-box .name h6 {
  color: #6bb7be;
  font-size: 20px;
}

.client_section .carousel_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  position: unset;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  background-color: #6bb7be;
  background-position: center;
  border-radius: 100%;
  margin: 0 2.5px;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #000000;
}

.client_section .carousel-control-next {
  left: initial;
}

.contact_section {
  position: relative;
  background-color: #f9fafa;
  padding-top: 75px;
  padding-bottom: 75px;
}

.contact_section .heading_container {
  margin-bottom: 25px;
}

.contact_section .heading_container h2 {
  text-transform: uppercase;
}

.contact_section .form_container input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  outline: none;
  color: #101010;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

.contact_section .form_container input::-webkit-input-placeholder {
  color: #333;
}

.contact_section .form_container input:-ms-input-placeholder {
  color: #333;
}

.contact_section .form_container input::-ms-input-placeholder {
  color: #333;
}

.contact_section .form_container input::placeholder {
  color: #333;
}

.contact_section .form_container input.message-box {
  height: 120px;
}

.contact_section .form_container button {
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 55px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid #6bb7be;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact_section .form_container button:hover {
  background-color: transparent;
  color: #6bb7be;
}

.contact_section .map_container {
  height: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0;
}

.contact_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.contact_section .map_container .map #googleMap {
  height: 100%;
}

.info_section {
  background-color: #191e1f;
  color: #ffffff;
  padding-top: 45px;
  padding-bottom: 45px;
}

.info_section .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 25px 0;
  text-align: center;
}

.info_section .contact_nav a {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.info_section .contact_nav a i {
  font-size: 28px;
}

.info_section .contact_nav a:hover {
  color: #f89646;
}

.info_section .info_top {
  padding: 45px 0;
}

.info_section h4 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
}

.info_section .info_links .info_links_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info_section .info_links .info_links_menu a {
  color: #ffffff;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.info_section .info_links .info_links_menu a:hover,
.info_section .info_links .info_links_menu a.active {
  color: #f89646;
}

.info_section .info_post .post_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info_section .info_post .post_box .img-box {
  min-width: 65px;
  max-width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  -ms-flex-preferred-size: calc(33% - 10px);
  flex-basis: calc(33% - 10px);
  padding: 10px;
  margin: 5px;
}

.info_section .info_post .post_box .img-box img {
  max-width: 100%;
  max-height: 100%;
}

.info_section .info_post .post_box p {
  margin: 0;
}

.info_section .info_post .post_box:not(:nth-last-child(1)) {
  margin-bottom: 15px;
}

.info_section .info_form input {
  width: 100%;
  border: none;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 25px;
  background-color: #eaeaea;
  outline: none;
  color: #101010;
}

.info_section .info_form button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid #6bb7be;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.info_section .info_form button:hover {
  background-color: transparent;
  color: #6bb7be;
}

.info_section .info_form .social_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.info_section .info_form .social_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  border: 1px solid #6bb7be;
  color: #6bb7be;
  font-size: 18px;
  margin-right: 10px;
}

.info_section .info_form .social_box a:hover {
  color: #f89646;
  border-color: #f89646;
}

/* footer section*/
.footer_section {
  position: relative;
  text-align: center;
}

.footer_section p {
  color: #000000;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */